name = "Libxc"
uuid = "66e17ffc-8502-11e9-23b5-c9248d0eb96d"
authors = ["Jason Eu <morty.yu@yahoo.com>", "Michael F. Herbst <info@michael-herbst.com>"]
version = "0.3.5"

[deps]
Libxc_jll = "a56a6d9d-ad03-58af-ab61-878bf78270d6"

[compat]
Libxc_jll = "~5.0.0"  # 5.1.0 is buggy
julia = "1.3"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
